<!DOCTYPE html>
<html>
<head>
  <title>Registration page</title>
</head>
<body>

<h1>Registration</h1>


<form action="/applications" method="post">

  <div class="field">
    <label for="session_application_name">Application Name</label><br />
    <input id="application_name" name="application_name" size="30" type="text" />
  </div>
  <div class="field">
    <label for="session_application_url">Application Url</label><br />
    <input id="application_url" name="application_url" size="30" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Subscribe" />
  </div>

</form>

</body>
</html>

