<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>

<h1>Welcome</h1>

	<% if current_user.nil? %>

		<p>Hi, please connect you :</p>
    	<a href="/sessions/new"> Connect </a>
    <p>Not registrated yet : </p>
      <a href="/users/new"> Register </a>

	<% else %>
		
		<p> Hi <%= current_user %> </p>

		<% applis = Application.where(:user_id => @user_id)

		if !applis.empty? %>
		<div class="applications">
			<p>Below the applications list you created :</p>
			<ul>
				<% applis.each do |appli| %>
				<li><%=appli.name%> URL --> <%=appli.url%> - <a href="/applications/delete?appli=<%=appli.id%>">Delete</a> </li>
				<% end %>
			</ul>
		</div>

		<%else%>

			<p>You don't have any created applications.</p>

		<%end%>




		<a href="/applications/new"> Register an application. </a>
		<a href="/sessions/disconnect"> Disconnect </a>

	


	<% end %>


</body>
</html>

