<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>

<h1>Protected page</h1>

	<% if current_user.nil? %>

		<p>Hi, please connect you :</p>
    	<a href="/s_auth/authentication"> Connection </a>
    <p>Not registrated yet : </p>
      <a href="/s_auth/registration"> Inscription </a>

	<% else %>
		
		<p> Hi <%= current_user %> </p>

			<% applis = Application.where(:user_id => @user_id)

			if !applis.empty? %>
			<div class="applications">
				<p>Below the applications list you created :</p>
				<ul>
					<% applis.each do |appli| %>
					<li><%=appli.name%> URL --> <%=appli.url%> - <a href="/s_auth/application/delete?appli=<%=appli.id%>">Delete</a> </li>
					<% end %>
				</ul>
			</div>

			<%else%>

				<p>You don't have any created applications.</p>

			<%end%>







		<a href="/s_auth/registration_application"> Register an application. </a>
		<a href="/sessions/deco"> Disconnect </a>

	


	<% end %>


</body>
</html>

