<!DOCTYPE html>
<html>
<head>
  <title>Protected Page of the Client Application</title>
</head>
<body>

<h1>Protected Page of the Client Application</h1>

<p>Hi <%= @login %>, you are on the protected page of the client application named "appli_1".</p>

	<p>
	<a href="/sessions/disconnect"> Disconnect </a>
	</p>

	<p>
	<a href="/"> Go to index page </a>
	</p>

</body>
</html>
